<div class="banner-custom">
  <mat-grid-list cols="4" rowHeight="30px">
    <mat-grid-tile [rowspan]="1" [colspan]="4"></mat-grid-tile>
    <mat-grid-tile [rowspan]="3" [colspan]="4" class="clblack">
      <div class="result-custom">
        <div class="res-left-custom">
          <div class="clas-left-custom">#1</div>
        </div>
        <div class="res-right-custom">
          <div class="text-left-custom">
            {{first}}
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="4"></mat-grid-tile>
    <mat-grid-tile [rowspan]="3" [colspan]="4" class="clblack">
      <div class="result-custom">
        <div class="res-left-custom">
          <div class="clas-left-custom">#2</div>
        </div>
        <div class="res-right-custom">
          <div class="text-left-custom">
            {{second}}
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="4"></mat-grid-tile>
  </mat-grid-list>
</div>
